<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new chat</title>
</head>
<body>
    <h3>Create new chat</h3>
    <form method="post", action="/chats">
        <input type="text", name="from", placeholder="Who are you?">
        <br><br>
        <input type="text", name="msg", placeholder="Enter your msg">
        <br><br>
        <input type="text" name="to" placeholder="add reciever">
        <br><br>
        <button>Create chat</button>
    </form>
</body>
</html>